@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
